.jumbotron {
  margin-top: 30px;
}

.container.main {
  margin-top: 70px;
}

.big-num {
  text-align: center;
  overflow: hidden;
}

.big-num .panel-body {
  position: relative;
  overflow: hidden;
}

.big-num .num {
  font-weight: 100;
  font-size: 100px;
  position: relative;
  z-index: 30;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
  transition: opacity 0.3s ease;
}

.big-num:hover .series + .num {
  pointer-events: none;
  opacity: 0.2;
}

.big-num .series {
  position: absolute;
  display: block;
  z-index: 20;
  top: 0;
  left: 0;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.big-num:hover .series {
  opacity: 1;
}

.series path {
  fill: transparent;
  stroke: #5D9DD4;
  stroke-width: 2;
}

.series circle {
  opacity: 0;
  fill: #5D9DD4;
  stroke: transparent;
}

.big-num:hover .series circle {
  opacity: 1;
}

.session-head .btn {
  margin-top: 10px;
}

.session-small {
  margin-bottom: 30px;
  letter-spacing: 0.1em;
}

.session-small .duration {
  font-size: 36px;
  font-weight: 100;
}

.prop h6 {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 0.2em;
}

.prop .num {
  font-size: 24px;
  font-weight: 100;
}
